html{
    text-align: center;
}

p{
    color:darkgreen;
}

body{
    background-color:black;
    width: 600px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    color:crimson;
}

header{
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

li{
    list-style: none;
    display: inline;
}

li > a{
    text-decoration: none;
    color: cornsilk;
    text-transform: uppercase;
    font-weight: 800;
    border: 1px solid #fff;
    padding: 4px 4px;
    border-radius: 5px;
}
