footer{
    background-color: #3A3B3C;
    height: 50px;
    vertical-align: middle;
    display: block;
    text-align: center;
    position: relative;
}

footer p{
    position: relative;
    display:block;
    vertical-align: middle;
}

.heart{
    color: crimson;
}

.rem{
    color: darkorange;
}