body{
    background-color:#18191A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    color: blanchedalmond;
    padding: 20px 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px dotted magenta;
}

.textSeparator{
    border: 0;
    border-top: 1px solid crimson;
    width: 30%;
}

footer{
    background-color: #3A3B3C;
    height: 50px;
    vertical-align: middle;
    display: block;
    text-align: center;
    position: relative;
}

footer p{
    position: relative;
    display:block;
    vertical-align: middle;
}

.heart{
    color: crimson;
}

.rem{
    color: darkorange;
}



h1, h2, h3, h4, h5, h6{
    color:crimson;
}


nav{
    padding: 10px 10px;
}

.logo img{
    width: 100px;
    margin: 0 20px;
}

main{
    padding: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.menuItem {
    text-decoration: none;
    color: cornsilk;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 4px 4px;
    border-radius: 5px;
}

.menuItem:hover{
    border: 1px solid crimson;
    color: crimson;
}
